extends layout

block content
  h1= title
  p Welcome to #{title}
  object(code='se3309/BaseballBrowserMain.class', type='application/x-java-applet;version=1.6', height='300', width='550', archive='se3309/BaseballBrowserMain.jar')