extends layout

block content
  h1= title
  p Welcome to #{title}
  applet(ARCHIVE="se3309/BaseBallBrowser.jar,db2jcc.jar,db2jcc_license_cu.jar" CODE="se3309/BaseballBrowserMain.class" WIDTH=500 HEIGHT=500)